/* prettier-ignore-start */


@import "tailwindcss";

@plugin "daisyui";

:root {
  --tw-color-slate-50: 248 250 252;
  --tw-color-slate-100: 241 245 249;
  --tw-color-slate-200: 226 232 240;
  --tw-color-slate-800: 30 41 59;
  --tw-color-slate-900: 15 23 42;
}

@keyframes train {
  0% { stroke-dashoffset: 0; }
  50% {stroke-dashoffset: 343;}
  100% { stroke-dashoffset: 768; } /* total perimeter = 256*2 + 128*2 = 768, minus train length 20 */
}

.animate-train {
  animation: train 4s linear infinite;
}

@layer utilities {
  
  .hoverChange600 {
    @apply hover:bg-cyan-600;
  }
  
  .hoverChange500 {
    @apply hover:bg-cyan-500;
  }
}

/* Utility class for rotation animation */
.animate-border {
  --border-angle: 0deg;
  animation: border-rotate 6s linear infinite;
}

/* Animated gradient border container */
.animated-border {
  position: absolute;
  border-radius: 1rem;
  /* matches your rounded corners */
  border: 2px solid transparent;
  /* border is transparent to show gradient */
  background: linear-gradient(#111111, #111111) padding-box,
    conic-gradient(
  from var(--border-angle),
  #06b6d4,
  #22d3ee,
  #facc15,
  #ec4899,
  #06b6d4
  ) border-box;
}

/* prettier-ignore */
.auth-input-label {
  @apply block text-sm font-medium text-slate-300 mb-2;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 size-5;
}

.input {
  @apply w-full bg-slate-800/50 border border-slate-700 rounded-lg py-2 pl-10 pr-4 text-slate-200 placeholder-slate-400 focus:ring-2 focus:ring-cyan-500 focus:border-transparent;
}

/* prettier-ignore */
.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full
  bg-cyan-500/20 text-cyan-300;
}

